* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    
    font-family: Arial, Helvetica, sans-serif;

}

header {
    width: 100%;
    padding: 20px;
    position:relative;


    
}
.navigation {

    top: 0;
    left: -100%;
    width: 100%;
    width: 100vh;
    display: flex;
    background: rgb(17, 207, 198);
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;

}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navLink {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navLink ul {
    position: relative;
    width: 100%;
}
.navLink ul li {
    position: relative;
    list-style: none;
    

}

.navLink ul li a {
    position: relative;
    color:rgb(19, 235, 109);
    font-size: 2em;
    font-weight: 200;
    text-decoration: none;
    margin:5px 0;
    margin-left: 100p;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;


}

.navLink ul li a:hover {
    color: rgb(14, 171, 233);
}

container {
    display: flex;
  }
  
article {
    flex: 50%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
  }
  


.row {
    align-items: center;
}


footer {
    padding: 20px;
    text-align: center;
    background: #0d7be2;
    color: #fff;
  }

  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  