* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    
    font-family: Arial, Helvetica, sans-serif;

}

header {
    width: 100%;
    padding: 20px;
    position:relative;


    
}
.navigation {

    top: 0;
    left: -100%;
    width: 100%;
    width: 100vh;
    display: flex;
    background:white;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    color: cadetblue;
    font-family: cursive;

}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navLink {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navLink ul {
    position: relative;
    width: 100%;
}
.navLink ul li {
    position: relative;
    list-style: none;
    

}

.navLink ul li a {
    position: relative;
    color:rgb(19, 235, 109);
    font-size: 2em;
    font-weight: 200;
    text-decoration: none;
    margin:5px 0;
    margin-left: 100p;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;


}

.navLink ul li a:hover {
    color: rgb(14, 171, 233);
}

container {
    display: flex;
  }
  
article {
    flex: 50%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
    border: #0ca7d6;
    
    
  }
  
.article left {
    padding-left: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.article right {
    justify-content: left;
    text-align:left;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.columns {
    justify-content: center;
    padding-top: 20px;
    padding-left: 100px;
}

.flexbox {
  align-items: center;
  justify-items: center;
  padding-left: 100px;
}

.zoomin {
  width: 150px;
  height: 150%;
  overflow: hidden;
  margin: auto;
}

.zoomin img {
  width: 100%;
  transition: 0.5s all ease-in-out;

}

.zoomin:hover img {
  transform: scale(1.5);
}

footer {
    padding: 20px;
    text-align: center;
    background: cadetblue;
    color: white;
    font-family: cursive;
  }

  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* media screen for Ipads and Tablets */
@media screen and (max-width: 992px) {
    header {
      background: #78d4f0;
    }
  }
  
  /* for larger smartphones  */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #e9e63e;
    }
  }
  
  /* small smartphones  */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  